.hidden {
  display: none; }

.clock {
  border-radius: 50%;
  background: #fff url(/images/posts/clocks/ios_clock.svg) no-repeat center;
  background-size: 88%;
  height: 1em;
  padding-bottom: 31%;
  position: relative;
  width: 8em; }

.clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10; }

.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%; }

.minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%; }

.seconds {
  background: #000;
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8; }

@keyframes rotate {
  100% {
    transform: rotateZ(360deg); } }

.hours-container {
  animation: rotate 43200s infinite linear; }

.minutes-container {
  transition: transform 0.3s cubic-bezier(0.4, 2.08, 0.55, 0.44); }

.seconds-container {
  transition: transform 0.2s cubic-bezier(0.4, 2.08, 0.55, 0.44); }

body {
  background-color: #292931; }

.main-window {
  width: 100%;
  background-color: transparent; }

.login {
  width: 95%;
  max-width: 500px;
  padding-top: 20px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
  background-color: #423142;
  border-radius: 8px;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.05); }
  .login .logo {
    width: 100px;
    height: 100px;
    display: block;
    padding-left: 3px;
    margin: 20px auto;
    background-color: #A9A9A9;
    border: 2px solid black;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.05);
    border-radius: 50%; }
  .login .user, .login .pass {
    display: block;
    width: 90%;
    margin: 0 auto; }
  .login .user-icon, .login .key-icon {
    width: 35px;
    background: #A9A9A9;
    border-radius: 5px;
    vertical-align: middle;
    margin-left: 10px; }
  .login input, .login button {
    border: none;
    width: 80%;
    height: 50px;
    margin: 0;
    display: inline-block;
    outline: none;
    outline-offset: 0;
    border-radius: 8px;
    background: transparent;
    padding: 0;
    box-shadow: none; }
  .login input {
    color: white;
    background-color: #473547;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.05);
    padding-left: 20px;
    margin-top: 20px; }
    .login input:focus {
      background: rgba(0, 0, 0, 0.05); }
  .login button {
    display: block;
    margin: 0 auto;
    color: #A9A9A9; }
    .login button:hover {
      font-weight: bold;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); }

nav {
  background-color: #A9A9A9;
  width: 100%;
  display: flex;
  justify-content: space-around; }
  nav h1 {
    color: #292931;
    margin-left: 10px;
    display: inline-block; }
  nav img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    align-self: center; }

.main-content {
  background-color: #A9A9A9;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%; }

.barInput {
  width: 100%;
  margin: 0 auto; }
  .barInput span {
    text-align: center;
    font-size: 3em; }
  .barInput input {
    width: 100%;
    margin: 0 auto; }
  .barInput button {
    width: 100%; }

footer {
  background-color: #A9A9A9;
  display: inline-flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  justify-content: space-around; }
  footer div {
    margin-top: 5px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer; }
    footer div:hover {
      text-decoration: underline; }
  footer img {
    display: inline-block;
    width: 50px;
    height: 50px; }

.bars {
  background-color: white;
  color: blue;
  font-size: 2em; }

.barInput {
  background-color: white; }

.reviewInput {
  background-color: blue; }
